@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------------- DASHBOARD SIDEBAR --------------------------- */
.dashboard-sider.ant-layout-sider {
  @apply sticky bottom-0 top-0 h-screen overflow-auto bg-white p-6 !important;
}

/* ----------------------------- DASHBOARD MENU ----------------------------- */
.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: 0 !important;
}

.dashboard-menu.ant-menu {
  & .ant-menu-item {
    @apply m-0 mb-3 h-fit w-full px-4 py-1 font-semibold text-slate-400 !important;

    &.ant-menu-item-selected {
      @apply bg-blue-50 text-[#0049AC] !important;
    }
  }
}

.dashboard-header.ant-layout-header {
  @apply sticky top-0 z-10 flex h-fit cursor-pointer items-center justify-end !bg-white !px-10 !py-4 !important;
}

/* ------------------------------ SEARCH INPUT ------------------------------ */
.search-input {
  @apply rounded-full border-slate-200 px-3 py-2.5 font-semibold text-slate-600 hover:border-slate-300 !important;

  & .ant-input {
    @apply font-medium text-slate-600 !important;
  }

  & .ant-input::placeholder {
    @apply text-slate-400 !important;
  }

  &.ant-input-outlined:focus-within {
    @apply shadow-none !important;
  }
}

/* ---------------------------- DATE RANGE PICKER --------------------------- */
.custom-date-range-picker.ant-picker-range {
  @apply rounded-lg border-slate-200 px-4 py-2.5 font-medium shadow-none hover:border-slate-300 !important;

  & .ant-picker-input input {
    @apply w-fit font-semibold text-slate-600 !important;
  }

  & .ant-picker-input input::placeholder {
    @apply font-normal tracking-wide text-slate-300 !important;
  }

  & .ant-picker-range-separator {
    @apply pl-0 !important;

    & .ant-picker-separator {
      @apply pr-2 font-bold text-slate-400 !important;
    }
  }

  & .ant-picker-active-bar {
    @apply w-[100px] bg-[#FFA600] !important;
  }

  & .ant-picker-clear {
    inset-inline-end: 16px !important;
  }
}

/* ------------------------------- DATA TABLE ------------------------------- */
.data-table .ant-table-container .ant-table-content {
  & table .ant-table-thead {
    & tr th {
      @apply border-slate-200 bg-transparent p-0 px-2 pb-3.5 leading-5 text-slate-900 !important;

      &::before {
        @apply top-0.5 h-4 translate-y-0 bg-slate-200 !important;
      }
    }
  }

  & table .ant-table-tbody {
    & tr td {
      @apply border-slate-200 px-2 font-semibold text-slate-500 !important;
    }
  }
}

.data-table .ant-table-footer {
  @apply bg-transparent px-0 py-6 !important;
}

/* ---------------------------- PAGE LIMIT SELECT --------------------------- */
.page-limit-select {
  &.ant-select {
    @apply h-fit !important;
    & .ant-select-selector {
      @apply rounded-full border-slate-200 px-5 py-[3px] text-slate-400 !important;
    }

    & .ant-select-selection-item {
      @apply font-semibold !important;
    }
  }

  &.ant-select-focused .ant-select-selector {
    @apply shadow-[0_0_4px_rgba(255,166,0)] !important;
  }
}
